In [1]:
import pandas as pd

In [2]:
credits_data  = pd.read_csv('data/tmdb_5000_credits.csv')
movie_data  = pd.read_csv('data/tmdb_5000_movies.csv')

In [3]:
credits_data.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [4]:
credits_data.info()
credits_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

(4803, 4)

In [5]:
movie_data.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [6]:
movie_data.info()
movie_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

(4803, 20)

In [7]:
#movies_detail = movie_data.merge(credits_data,on = 'title')
movies_detail = movie_data.merge(credits_data,right_on='movie_id', left_on='id')

In [8]:
movies_detail.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,movie_id,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [9]:
movie_data.shape

(4803, 20)

In [10]:
credits_data.shape

(4803, 4)

In [11]:
movies_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  movie_id              4803 non-null   int64
 21  title_y               4803 non-null   object
 22  cast                  4803 non-null   object
 23  crew                  4803 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [12]:
movies_detail = movies_detail[['movie_id','original_title','overview','genres','keywords','tagline','cast','crew']]

In [13]:
movies_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   movie_id        4803 non-null   int64
 1   original_title  4803 non-null   object
 2   overview        4800 non-null   object
 3   genres          4803 non-null   object
 4   keywords        4803 non-null   object
 5   tagline         3959 non-null   object
 6   cast            4803 non-null   object
 7   crew            4803 non-null   object
dtypes: int64(1), object(7)
memory usage: 300.3+ KB

In [14]:
movies_detail.head(2)

,movie_id,original_title,overview,genres,keywords,tagline,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Enter the World of Pandora.,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","At the end of the world, the adventure begins.","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [15]:
a = movies_detail['genres'][0]
print(type(a))
print(a)

<class 'str'>
[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]

# Pre Processing

In [16]:
import ast

In [17]:
def fetch_name(record :str):
    records = ast.literal_eval(record)
    data = []    
    for i in records:
        name = i['name']
        data.append(name)

    return data

In [18]:
def fetch_from_crew(data :str):
    records = ast.literal_eval(data)
    l = []
    for rec in records:
        if (rec['job'] in ('Director','Writer','Producer')):
            l.append(rec['name'])

    return list(set(l))

In [19]:
fetch_name(a)
fetch_from_crew(movies_detail['crew'][0])

['Jon Landau', 'James Cameron']

In [20]:
movies_detail['genres'] = movies_detail['genres'].apply(fetch_name)

In [21]:
movies_detail['keywords'] = movies_detail['keywords'].apply(fetch_name)

In [22]:
movies_detail['cast'] = movies_detail['cast'].apply(fetch_name)

In [23]:
movies_detail['crew'] = movies_detail['crew'].apply(fetch_from_crew)

In [24]:
movies_detail['overview'] = movies_detail['overview'].apply(lambda x:str(x).split())

In [25]:
movies_detail['tagline'] = movies_detail['tagline'].apply(lambda x:str(x).split())

In [26]:
movies_detail.head(2)

,movie_id,original_title,overview,genres,keywords,tagline,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Enter, the, World, of, Pandora.]","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Jon Landau, James Cameron]"
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[At, the, end, of, the, world,, the, adventure...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Jerry Bruckheimer, Peter Kohn, Eric McLeod, G..."

In [27]:
def make_single_word(list_of_data):
    l1=[]
    
    for l in list_of_data:
        l1.append((str(l).replace(" ","")))
    return l1

In [28]:
movies_detail['genres'] = movies_detail['genres'].apply(make_single_word)
movies_detail['keywords'] = movies_detail['keywords'].apply(make_single_word)
movies_detail['tagline'] = movies_detail['tagline'].apply(make_single_word)
movies_detail['cast'] = movies_detail['cast'].apply(make_single_word)
movies_detail['crew'] = movies_detail['crew'].apply(make_single_word)

In [29]:
movies_detail['tags'] = movies_detail['overview'] + movies_detail['genres'] + movies_detail['keywords'] + movies_detail['tagline'] + movies_detail['cast'] + movies_detail['crew']

In [30]:
movies_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   movie_id        4803 non-null   int64
 1   original_title  4803 non-null   object
 2   overview        4803 non-null   object
 3   genres          4803 non-null   object
 4   keywords        4803 non-null   object
 5   tagline         4803 non-null   object
 6   cast            4803 non-null   object
 7   crew            4803 non-null   object
 8   tags            4803 non-null   object
dtypes: int64(1), object(8)
memory usage: 337.8+ KB

In [31]:
movies_detail.head(2)

,movie_id,original_title,overview,genres,keywords,tagline,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[Enter, the, World, of, Pandora.]","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...","[JonLandau, JamesCameron]","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[At, the, end, of, the, world,, the, adventure...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...","[JerryBruckheimer, PeterKohn, EricMcLeod, Gore...","[Captain, Barbossa,, long, believed, to, be, d..."

In [32]:
sorted(movies_detail['tags'][0])

['22nd',
 '3d',
 'Action',
 'Adventure',
 'AliciaVela-Bailey',
 'AllanHenry',
 'AnthonyIngruber',
 'AprilMarieThomas',
 'AshleyJeffery',
 'AustinWilson',
 'BrandonJelkes',
 'BravitaA.Threatt',
 'CCHPounder',
 'CarvonFutrell',
 'ChrisMala',
 'ChristaOliver',
 'ChristopherNolen',
 'ColinBleasdale',
 'CullenB.Madden',
 'DavidVanHorn',
 'DeanKnowsley',
 'DebraWilson',
 'DileepRao',
 'Enter',
 'Fantasy',
 'FrankieTorres',
 'GarethRuck',
 'GerryBlair',
 'GiovanniRibisi',
 'HanniyahMuhammad',
 'IlramChoi',
 'In',
 'JacobTomuri',
 'JahnelCurfman',
 'JamesCameron',
 'JamesGaylyn',
 'JamesPatrickPitt',
 'JamieHarrison',
 'JasonWhyte',
 'JodieLandau',
 'JodieTaylor',
 'JoelDavidMoore',
 'JonCurry',
 'JonLandau',
 'JosephBradyMadden',
 'JosephMika-Hunt',
 'JuleneRenee',
 'JulieLamm',
 'KaiPantano',
 'KellyKilgour',
 'KelsonHenderson',
 'KevinDorman',
 'KylaWarren',
 'LazAlonso',
 'LisaRoumain',
 'LoganPithyou',
 'LucyBriant',
 'LukeHawker',
 'Marine',
 'MattClayton',
 'MattGerald',
 'MatthewChamberlain',
 'MelvinLenoClarkIII',
 'MicahMoch',
 'MichaelBlain-Rozgay',
 'MichelleRodriguez',
 'MikeBodnar',
 'NathanMeister',
 'NicoleDionne',
 'NikieZambo',
 'Pandora',
 'Pandora.',
 'PaulYates',
 'PeterDillon',
 'PeterMensah',
 'Raja',
 'RhianSheehan',
 'RichardWhiteside',
 'SamWorthington',
 'SaraWilson',
 'ScienceFiction',
 'ScottLawrence',
 'SeanAnthonyMoran',
 'SeanPatrickMurphy',
 'SigourneyWeaver',
 'SoniaYee',
 'StephenLang',
 'StuartPollock',
 'T.J.Storm',
 'TamicaWashington-Miller',
 'TaylorKibby',
 'TerryNotary',
 'WesStudi',
 'WoodySchultz',
 'World',
 'WrayWilson',
 'ZoeSaldana',
 'a',
 'a',
 'alien',
 'alien',
 'alienplanet',
 'an',
 'and',
 'antiwar',
 'battle',
 'becomes',
 'between',
 'but',
 'century,',
 'cgi',
 'civilization.',
 'cultureclash',
 'dispatched',
 'following',
 'future',
 'futuristic',
 'is',
 'loveaffair',
 'marine',
 'mindandsoul',
 'mission,',
 'moon',
 'of',
 'on',
 'orders',
 'paraplegic',
 'powerrelations',
 'protecting',
 'romance',
 'society',
 'soldier',
 'space',
 'spacecolony',
 'spacetravel',
 'spacewar',
 'the',
 'the',
 'the',
 'to',
 'torn',
 'tribe',
 'unique']

In [33]:
movies_detail.isnull().sum()

movie_id          0
original_title    0
overview          0
genres            0
keywords          0
tagline           0
cast              0
crew              0
tags              0
dtype: int64

In [34]:
new  = movies_detail.drop(columns=['overview','genres','keywords','cast','crew','tagline'])

In [35]:
new['tags'] = new['tags'].apply(lambda x:" ".join(x))

In [36]:
new.head()

,movie_id,original_title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

# Removing stop words and Creating Model

In [37]:
from sklearn.feature_extraction.text import CountVectorizer

In [98]:
cv = CountVectorizer(max_features=5000, stop_words='english', lowercase=True)

In [99]:
vector = cv.fit_transform(new['tags']).toarray()

In [100]:
from sklearn.metrics.pairwise import cosine_similarity

In [101]:
similarity = cosine_similarity(vector)

In [102]:
similarity

array([[1.        , 0.10768262, 0.04767313, ..., 0.04494666, 0.0244558 ,
        0.        ],
       [0.10768262, 1.        , 0.09035079, ..., 0.04259177, 0.02317449,
        0.        ],
       [0.04767313, 0.09035079, 1.        , ..., 0.02357023, 0.        ,
        0.        ],
       ...,
       [0.04494666, 0.04259177, 0.02357023, ..., 1.        , 0.07254763,
        0.07254763],
       [0.0244558 , 0.02317449, 0.        , ..., 0.07254763, 1.        ,
        0.07894737],
       [0.        , 0.        , 0.        , ..., 0.07254763, 0.07894737,
        1.        ]])

In [103]:
similarity.shape

(4803, 4803)

In [104]:
new[new['original_title'] == 'The Lego Movie'].index[0]

744

In [105]:
sorted(list(enumerate(similarity[1])),reverse=True,key=lambda x: x[1])[0:10]

[(1, 1.0000000000000002),
 (12, 0.5421047417431507),
 (199, 0.32142857142857134),
 (17, 0.2823156940921325),
 (190, 0.2156655464068768),
 (4004, 0.21428571428571427),
 (1331, 0.20526320231631415),
 (187, 0.20203050891044214),
 (848, 0.20064196662193812),
 (3568, 0.19999999999999998)]

In [106]:
def recommed_movies(movie):
    index = new[new['original_title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key=lambda x: x[1])[1:11]
    for i in distances:
        print(new.iloc[i[0]].original_title)

In [107]:
recommed_movies('Toy Story 3')

Toy Story 2
Toy Story
The 40 Year Old Virgin
Despicable Me 2
WALL·E
Monsters, Inc.
Cars
Up
The Simpsons Movie
Cars 2

In [108]:
recommed_movies('The Lego Movie')

The Croods
Evan Almighty
Jonah: A VeggieTales Movie
The Adventures of Rocky & Bullwinkle
The Book of Life
Curious George
Percy Jackson: Sea of Monsters
The Boxtrolls
The Lion of Judah
Alpha and Omega: The Legend of the Saw Tooth Cave

In [109]:
recommed_movies('Batman Forever')

Batman & Robin
Batman
The Dark Knight Rises
Batman Returns
The Dark Knight
Batman Begins
Batman: The Dark Knight Returns, Part 2
Navy Seals vs. Zombies
Cry_Wolf
DragonHeart

In [110]:
recommed_movies('Gandhi')

The Wind That Shakes the Barley
ராமானுஜன்
The New World
A Passage to India
Agora
Guiana 1838
The Longest Day
Valkyrie
Rang De Basanti
Oorlogswinter

# Dump the model for future prediction

In [112]:
import pickle

In [117]:
pickle.dump(new,open('model/movie_list.pickle','wb'))

In [118]:
pickle.dump(similarity, open('model/similarity.pickle','wb'))